body {
  background-color: black;
}

/********HEADER********/
.linksHeader{
text-decoration: none;
 color: #ffffff;
 padding: 15px;

}
.linksHeader:hover{
  text-decoration: underline;
}


/********CHECKOUT*********/
.checkoutCard{

  
}
.One{
 
}