body {
  background-color: black;
}

/********HEADER********/

.allLinks{
  padding-left: 25px;
}


.linksInHeader{
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  padding-right: 60px;
  padding-left: 60px;
}

.linksInHeader:hover{
  text-decoration: underline;
}

/********MENU********/

.allLinks{
  padding-left: 25px;
}

.linksInMenu{
text-decoration: none;
font-size: 20px;
color: #ffffff;
padding: 10px;
}

.linksInMenu:hover{
  text-decoration: underline;
}

/*********Main************/
#mainOrdernowBtn{
  background-color: black;
  width: auto;
  color: white;
  border: 1px solid white;
  font-size: 80px;
  padding: 14px 28px;
  margin-top: 20%;
  border-radius: 30px;
}

#mainOrdernowBtn:hover{
  background-color: #30C318;
  color: white;
  cursor: pointer;

}

#warmpizzaMain{
  border-radius: 20%;
}
/********CHECKOUT*********/
.checkoutCard{

  
}
.One{
 
}
