body {
  background-color: black;
  margin: 0;
  padding: 0;

}

/********HEADER********/

.header {
  position: sticky;
  top: 0;
  background-color: black;
  margin-left: -40px;
  z-index: 1;
}

.allLinks{
  text-align: center;
}

.linksInHeader{

  position: relative;
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  padding-right: 60px;
  padding-left: 60px;
}

.linksInHeader:hover {
  color: gray;
}

.linksInHeader::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gray;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.linksInHeader:hover::before {
  transform: scaleX(0.5);
}

#shoppingCartIcon:hover{ 
  background-color: #30C318;
}

/********MENU********/

.linksInMenu {
  border-color: black;
  background-color: black;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 20px;
}

.linksInMenu:hover {
  color: gray;
}

.linksInMenu::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gray;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.linksInMenu:hover::before {
  transform: scaleX(1);
}

.linksInMenu:focus {
  color: gray;
}

.PizzaaddButton {
  position: absolutt;
  color: black;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 10px;
}

.PastaaddButton {
  position: absolutt;
  color: black;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 5px;
}

.DrinkaddButton {
  position: absolutt;
  color: black;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin-top: -30px;
  margin-bottom: 10px;
}


.addButton:hover {
  color: black;
  background-color: gray;
}

/*********Main************/

#mainOrdernowBtn{
  background-color: black;
  width: auto;
  color: white;
  border: 1px solid white;
  font-size: 80px;
  padding: 14px 28px;
  margin-top: 20%;
  border-radius: 30px;
}

#mainOrdernowBtn:hover{
  background-color: #026b02;
  color: white;
  cursor: pointer;

}




/********CHECKOUT*********/
.shoppingCartName{
  color: white;
  font-size: 25px;
}

.shoppingCartPrice{
  color: white;
}

.checkOutContainer{
  padding-right: 100px;
  padding-left: 100px;
}

.checkoutButton {
  position: absolutt;
  border: 2px solid white;
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
}

#close-icon-button{
  color: white;
  position: fixed;
  display: flex;
  left: 75%;
}

/********PersonInformation*********/

#txtField {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
}

#firstName {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
}

#cardNr {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
}

#submit {
  
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit:hover {
  background-color: #45a049;
}

.informationContainer {
  margin-top: 10%;
  width: 55%;
  border-radius: 20px;
  text-align: center;
  background-color: #494949;
  color: white;
  
}

.informationContainerChild {
  margin-top: 10%;
  width: 55%;
  border-radius: 20px;
  text-align: center;
  background-color: #494949;
  color: white;
  
}

#close-icon-btn {
  color: white;
  position: fixed;
  display: flex;
  left: 75%;
}
